html {
	background: linear-gradient(to right, #ce000a 0%,#53cbf1 50%,#0764f9 100%);

}

body { 
	width:900px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
	background-image: url(../images/carbon.png);	
    box-shadow: 0 0 12px 4px rgba(0,0,0,.7);
	border: 2px solid #000000;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	letter-spacing: 1px;
}

a {
      color: white;
      text-decoration: none;
      font-size: 18px;

      letter-spacing: 2px;
      text-transform: uppercase;
}

a:hover { 
	color: #ce000a; 
}

ul{
	list-style:none;
	padding-left:0px;
}

li {
      display: inline;
}

article {
	padding-left: 40px;
	padding-right: 40px;
}

h1 {
	font-size: 36px;
	text-transform: uppercase;
}

p {
	font-weight: 300;
	font-size: 20px;
}

footer {
	height: 50px;
	background-color: #000;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	color: #666;
	padding-top: 10px;
}